body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;

}
.center_div{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: black;

}
.register_div{
    background-color: black;
    display: flex;
justify-content: center;
align-items: center;
    width: 40vw;
    height: 65vh;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.register1_div{
    background-color: black;
    display: flex;
justify-content: center;
align-items: center;
    width: 44vw;
    height: 70vh;
    border-radius: 20px;
    box-shadow: -1px -1px 1px rgb(255, 255, 255);
}
.register2_div{
    background-color: black;
    display: flex;
justify-content: center;
align-items: center;
    width: 48vw;
    height: 75vh;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.errors_p{
color: red;
    height: 1vh;
    text-align: center;
    font-size: small;
}
.input_log{
border-radius: 7px;
width: 30vw;
height: 5vh;
border: 1px solid black;
border-color: rgb(85, 83, 83);
outline:none;
font-size: 17px;
padding-left: 10px;
background-color: rgba(0, 0, 0, 0.278);
color: white;

}
.input_log:focus{
border: 2px solid rgb(255, 255, 255);
}
.login_button{
   font-size: 1rem;
    width: 10vw;
    height: 5vh;
    border-radius:7px ;
    font-weight: bolder;
background: linear-gradient(120deg, #7b00ff, #022868);  
  border: none;
   cursor: pointer;
    margin-left: 9vw;
}
.register_button{
   font-size: auto;
    width: 10vw;
    height: 5vh;
    border-radius:7px ;
    font-weight: bolder;
background: linear-gradient(120deg, #7b00ff, #022868);  
    border: none;
    margin-left: 10vw;
}
.nav_center{
display: flex;
justify-content: center;

margin-top: 3vh;
}
.login_div{
    
     display: flex;
justify-content: center;
align-items: center;
    width: 30vw;
    height: 55vh;
    border-radius: 20px;
    background-color: black;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);   

}
.login_div input{
margin: 2vh;
width: 25vw;


}
.link_div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.login1_div{
     display: flex;
justify-content: center;
align-items: center;
    width: 32vw;
    height: 60vh;
    border-radius: 10px;
    background-color:black;
    box-shadow: -1px -1px 1px rgb(255, 255, 255);   

}
.login2_div{
     display: flex;
justify-content: center;
align-items: center;
    width: 34vw;
    height: 65vh;
    border-radius: 5px;

    
    box-shadow: 0px 0px 10px  rgb(255, 255, 255);   

}
.reg_h1{
    position: absolute;
    
    color: aliceblue;
   margin-bottom: 60vh;
  
}
.log_link{
       position: absolute;
   margin-right: 32vw;
   margin-top: 24vh;

    color: aliceblue;
   
}