
.admin_layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}


.contain_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background: #1e272e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px 20px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}


.sidebar_title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #00cec9;
  margin-bottom: 20px;
  text-align: left;
  cursor: pointer;
}


.sidebar_link {
  width: 100%;
  color: #dcdde1;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.sidebar_link:hover {
  background: #485460;
  color: #fff;
}


.sidebar_link.active {
  background: #00cec9;
  color: #1e272e;
  font-weight: 600;
}


.logout_btn {
  margin-top: auto;
  width: 100%;
  background: #ff5252;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 6vh;
  transition: 0.3s ease;
}

.logout_btn:hover {
  background: #ff3838;
}

.content_area {
  margin-left: 240px;
  padding: 30px;
  overflow-y: auto;
  height: 100vh;
}
