.container_div {
  margin-left: 20vw; 
  margin-top: 40px;
display: grid;
  
  gap: 30px;
row-gap: 50px;
  width: 450%;
  font-family: "Poppins", sans-serif;
}
.empty_div {
  text-align: center;
  color: #888;
  font-size: 1.1rem;
  margin-top: 60px;
  font-weight: 500;
}


.user_orders {
  background: #fff;
  padding: 20px 25px;
  border-radius: 16px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
  height: 85%;
  
}

.user_orders:hover {
  transform: translatey(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.14);
}


.user_title {

  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
  border-left: 5px solid #007bff;
  padding-left: 10px;
}

.header_row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: #007bff;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  border-radius: 8px 8px 0 0;
  padding: 13px 0;
  text-align: center;

}


.data_row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  text-align: center;
  padding: 10px 0;
  margin-top: 1px;
  height: 10%;
  border-bottom: 1px solid #eaeaea;
  transition: background 0.2s ease;
}

.data_row:hover {
  background: #f8f9fa;
}


.order_btn {
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 7px 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.order_btn:hover {
  background: #218838;
  transform: scale(1.05);
}

.orderhistory{

position: fixed;
top: 4vh;
right: 5vh;
border-radius: 5px;
height: 50px;
padding: 10px;
border: none;
background: linear-gradient(0.25turn, #06c7ee, #12c571, #9cd128);
color: white;

}