.wishlist_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  margin-top: 10vh;
}

.wishlist_item {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist_image img {
  width: 100%;
  max-width: 150px;
  border-radius: 8px;
}

.wishlist_name h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.wishlist_category p,
.wishlist_price p {
  margin: 0.3rem 0;
  font-size: 1rem;
  color: #333;
}

.wishlist_remove_btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color:#ff0095 ;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.wishlist_remove_btn:hover {
  background-color: #f64eb0;
}

.wishlist_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 1rem;
}

.wishlist_empty h3 {
  font-size: 1.5rem;
}

.wishlist_empty p a {
  color: #00aaff;
  text-decoration: underline;
  margin-left: 0.5rem;
}
